In [1]:
import pandas as pd
import numpy as np

In [123]:
V1 = pd.read_csv('../datasets/complete-data/Caltech/GISTFeature.csv',header=None);
V2 = pd.read_csv('../datasets/complete-data/Caltech/LBPFeature.csv',header=None);

In [68]:
data.isna().count()

0    1600
1    1600
2    1600
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1600 non-null   int64
 1   1       1600 non-null   int64
 2   2       1600 non-null   int64
dtypes: int64(3)
memory usage: 37.6 KB

In [17]:
data[2].value_counts()

1    1600
Name: 2, dtype: int64

In [ ]:
# 0 => 0 => 160
# 0 => 1 => 160
# 0 => 2 => 0

In [19]:
X = data.to_numpy()

In [30]:
len(data)

1600

In [18]:
(1600/100)*10

160.0

In [109]:
X = [V1,V2]
len(X)

2

In [110]:
X.pop(0)

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,0.002586,0.026140,0.024114,0.015401,0.072028,0.19497,0.067662,0.002747,0.051086,0.18571,...,0.06816,0.023893,0.015431,0.063414,0.081292,0.078235,0.054562,0.080643,0.047916,0.015823
1471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,0.010106,0.002967,0.029339,0.026014,0.096916,0.18804,0.036649,0.009920,0.092854,0.21914,...,0.10848,0.029358,0.013349,0.038101,0.058742,0.037894,0.079986,0.123180,0.034318,0.020230

In [111]:
len(X)

1

In [119]:
def place_no_complete(X,number_of_complete): # X[0], X[1], X[2]
    # get length of view
    view_tot = len(X); # 3
    X_filled = [];
    X_not_filled = [];
    
    for i in range(number_of_complete): # 2
        X_filled.append(X[i]);
        X.pop(i);
    # X_filled => [V1,V2];
    X_not_filled = X;
    return X_filled,X_not_filled;

In [120]:
# Random Remove Data

def random_remove_data(X,percent=10,number_of_complete = 0):
    """ X = list of all view of data . e.g X = [V1, V2, .... ], percent = percent of data want to remove """
    # V1(mxn) * (Sample X feature)
    # Find Number of sample
    no_of_sample = len(X[0]);
    no_of_missing = int(((no_of_sample)/100)*percent);
    # column number

    # for each view , randomly remove items
    X_final = [];
    if number_of_complete>0:
        X_final,X = place_no_complete(X,number_of_complete);
    
    print(len(X_final));
    print(len(X));
    
    for V in X: # V must be panda DataFrame
        for i in range(no_of_missing): # 0 - no_of_missing -1
            # Generage random number between 0 - sample number
            col_number = len(V.iloc[0]);
            to_remove = np.random.randint(0,no_of_sample);
            V.iloc[to_remove] = [np.NaN for i in range(col_number)]
        X_final.append(V);
    return X_final;

In [126]:
X = random_remove_data([V1,V2],number_of_complete=0); # 1,1

1
1

In [127]:
X[0].to_csv('missF1.csv',header=None,index=None);
X[1].to_csv('missF2.csv',header=None,index=None);

In [86]:
X[0].isnull().sum().sum() # 160 x 160 x 160

3522

In [91]:
(160*3+160*3+160*3)

1440

In [28]:
np.random.randint(0,1600)

236

In [51]:
arr = np.array([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]])
arr

array([[1, 2, 3, 4, 5, 6],
       [1, 2, 3, 4, 5, 6],
       [1, 2, 3, 4, 5, 6]])

In [60]:
data.iloc[0] = [np.NaN for i in range(3)]
data.head()
len(data.iloc[0])

3

In [53]:
arr

array([[  1, 100,   3, 100,   5,   6],
       [  1,   2,   3,   4,   5,   6],
       [  1,   2,   3,   4,   5,   6]])