In [1]:
import pandas as pd
import numpy as np

In [123]:
V1 = pd.read_csv('../datasets/complete-data/Caltech/GISTFeature.csv',header=None);
V2 = pd.read_csv('../datasets/complete-data/Caltech/LBPFeature.csv',header=None);

In [68]:
data.isna().count()

0    1600
1    1600
2    1600
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1600 non-null   int64
 1   1       1600 non-null   int64
 2   2       1600 non-null   int64
dtypes: int64(3)
memory usage: 37.6 KB

In [17]:
data[2].value_counts()

1    1600
Name: 2, dtype: int64

In [ ]:
# 0 => 0 => 160
# 0 => 1 => 160
# 0 => 2 => 0

In [19]:
X = data.to_numpy()

In [30]:
len(data)

1600

In [18]:
(1600/100)*10

160.0

In [109]:
X = [V1,V2]
len(X)

2

In [110]:
X.pop(0)

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,0.002586,0.026140,0.024114,0.015401,0.072028,0.19497,0.067662,0.002747,0.051086,0.18571,...,0.06816,0.023893,0.015431,0.063414,0.081292,0.078235,0.054562,0.080643,0.047916,0.015823
1471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,0.010106,0.002967,0.029339,0.026014,0.096916,0.18804,0.036649,0.009920,0.092854,0.21914,...,0.10848,0.029358,0.013349,0.038101,0.058742,0.037894,0.079986,0.123180,0.034318,0.020230

In [111]:
len(X)

1

In [119]:
def place_no_complete(X,number_of_complete): # X[0], X[1], X[2]
    # get length of view
    view_tot = len(X); # 3
    X_filled = [];
    X_not_filled = [];
    
    for i in range(number_of_complete): # 2
        X_filled.append(X[i]);
        X.pop(i);
    # X_filled => [V1,V2];
    X_not_filled = X;
    return X_filled,X_not_filled;

In [120]:
# Random Remove Data

def random_remove_data(X,percent=10,number_of_complete = 0):
    """ X = list of all view of data . e.g X = [V1, V2, .... ], percent = percent of data want to remove """
    # V1(mxn) * (Sample X feature)
    # Find Number of sample
    no_of_sample = len(X[0]);
    no_of_missing = int(((no_of_sample)/100)*percent);
    # column number

    # for each view , randomly remove items
    X_final = [];
    if number_of_complete>0:
        X_final,X = place_no_complete(X,number_of_complete);
    
    print(len(X_final));
    print(len(X));
    
    for V in X: # V must be panda DataFrame
        for i in range(no_of_missing): # 0 - no_of_missing -1
            # Generage random number between 0 - sample number
            col_number = len(V.iloc[0]);
            to_remove = np.random.randint(0,no_of_sample);
            V.iloc[to_remove] = [np.NaN for i in range(col_number)]
        X_final.append(V);
    return X_final;

In [128]:
X = random_remove_data([V1,V2],number_of_complete=0); # 1,1

0
2

In [137]:
X[0].shape

(1474, 512)

In [136]:
a = X[0].isna()
a.sum()

0      135
1      135
2      135
3      135
4      135
      ...
507    135
508    135
509    135
510    135
511    135
Length: 512, dtype: int64

In [127]:
X[0].to_csv('missF1.csv',header=None,index=None);
X[1].to_csv('missF2.csv',header=None,index=None);

In [86]:
X[0].isnull().sum().sum() # 160 x 160 x 160

3522

In [91]:
(160*3+160*3+160*3)

1440

In [28]:
np.random.randint(0,1600)

236

In [51]:
arr = np.array([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]])
arr

array([[1, 2, 3, 4, 5, 6],
       [1, 2, 3, 4, 5, 6],
       [1, 2, 3, 4, 5, 6]])

In [60]:
data.iloc[0] = [np.NaN for i in range(3)]
data.head()
len(data.iloc[0])

3

In [53]:
arr

array([[  1, 100,   3, 100,   5,   6],
       [  1,   2,   3,   4,   5,   6],
       [  1,   2,   3,   4,   5,   6]])

In [149]:
### 
data = pd.read_csv('../coding/missF2.csv',header=None);
data[0].shape

(1474,)

In [142]:
filled_zero = data.fillna(0);

In [148]:
avg = data.mean()

0.10023632909393178

In [150]:
for i in range(len(avg)):
    data[i].fillna(avg[i],inplace=True)

In [151]:
data

,0,1,2,3,4,5,6,7,8,9,...,918,919,920,921,922,923,924,925,926,927
0,0.108460,0.139790,0.164090,0.212410,0.139990,0.159740,0.133210,0.154770,0.102340,0.093976,...,0.408460,0.487300,0.447960,0.381330,0.377930,0.431360,0.343590,0.352650,0.364300,0.447580
1,0.096998,0.213060,0.100830,0.132360,0.093379,0.101970,0.091109,0.124210,0.069519,0.109280,...,0.374760,0.404910,0.440690,0.396130,0.394840,0.441580,0.380730,0.380380,0.417250,0.423590
2,0.045027,0.076644,0.164320,0.117800,0.095204,0.095636,0.154870,0.115220,0.121090,0.097014,...,0.485340,0.469110,0.466930,0.360160,0.425190,0.410980,0.512400,0.434400,0.487140,0.467390
3,0.123120,0.116230,0.087352,0.098424,0.107950,0.084728,0.076021,0.084370,0.087614,0.075527,...,0.372750,0.363650,0.423920,0.418650,0.472290,0.484790,0.504200,0.511020,0.535250,0.521520
4,0.140320,0.149090,0.165670,0.178500,0.127360,0.136250,0.133510,0.116470,0.106750,0.086654,...,0.468030,0.505250,0.406080,0.390570,0.382200,0.399100,0.434880,0.388160,0.414920,0.499680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,0.098801,0.121610,0.089544,0.051020,0.074765,0.061109,0.097322,0.050793,0.063312,0.049183,...,0.423440,0.250430,0.371970,0.395830,0.432220,0.307960,0.340380,0.387320,0.370870,0.300320
1470,0.130870,0.129040,0.079234,0.093815,0.102190,0.073211,0.120800,0.082014,0.112430,0.058710,...,0.396210,0.279930,0.431770,0.507940,0.439670,0.383190,0.400520,0.319880,0.256520,0.242870
1471,0.100236,0.108461,0.107290,0.103243,0.105115,0.112554,0.114478,0.108015,0.096287,0.099354,...,0.461432,0.402973,0.393801,0.447973,0.455227,0.399508,0.342073,0.386456,0.407609,0.376054
1472,0.074013,0.111890,0.106230,0.119160,0.064057,0.109350,0.120160,0.111510,0.076272,0.103710,...,0.393710,0.268370,0.233720,0.376330,0.350070,0.261720,0.146490,0.134610,0.205190,0.287530
1473,0.095907,0.054933,0.080963,0.095705,0.133960,0.088551,0.109950,0.059033,0.124690,0.085201,...,0.400900,0.245740,0.435550,0.445980,0.420360,0.375380,0.411990,0.354240,0.307630,0.290690

In [152]:
data.to_csv('filled_avg.csv');

In [153]:
avg[0]

0.10023632909393178

In [ ]:
# Regression >> 1 col >avg => M1 =>