In [1]:
# import 
import pandas as pd
import numpy as np;

In [42]:
# read data
V1 = pd.read_csv('./datasets/complete-data/Leaf100/margin.csv',header=None);
V2 = pd.read_csv('./datasets/complete-data/Leaf100/shape.csv',header=None);
V3 = pd.read_csv('./datasets/complete-data/Leaf100/texture.csv',header=None);
Label = pd.read_csv('./datasets/complete-data/Leaf100/label.csv',header=None);

In [43]:
print(V1.shape)
print(V2.shape)
print(V3.shape)
print(Label.shape)

(1600, 64)
(1600, 64)
(1600, 64)
(1600, 1)

In [9]:
Label.shape  # 1599 x 1

(1599, 1)

In [15]:
# NMF
from sklearn.decomposition import NMF;
from sklearn.cluster import KMeans;
from sklearn.metrics import accuracy_score;
# V = W . H   (1599 x 64 )  = (1599 x k ) (k x 64 ) 1. cluster W
# v = W . H    (64  x 1599 ) = (64 x k ) (k x 1599) 2. cluster H

In [44]:
k = [2,5,6,8,10,14,20,25,30,35,40]
km = KMeans(n_clusters=100);

In [45]:
X = [V1,V2,V3]
X[2].head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.031771,0.014518,0.002995,0.002734,0.054297,0.000065,0.017838,0.042318,0.018034,0.007487,...,0.118100,0.0,0.012760,0.000065,0.011393,0.0,0.0,0.000391,0.0,0.017969
1,0.025391,0.012695,0.003906,0.004883,0.039062,0.000000,0.017578,0.035156,0.023438,0.013672,...,0.103520,0.0,0.001953,0.000977,0.022461,0.0,0.0,0.001953,0.0,0.027344
2,0.004883,0.018555,0.002930,0.000000,0.069336,0.000000,0.013672,0.043945,0.026367,0.000000,...,0.070312,0.0,0.017578,0.000000,0.004883,0.0,0.0,0.000000,0.0,0.002930
3,0.018555,0.013672,0.002930,0.002930,0.051758,0.000000,0.019531,0.035156,0.022461,0.000977,...,0.156250,0.0,0.008789,0.000000,0.001953,0.0,0.0,0.000000,0.0,0.005859
4,0.035156,0.023438,0.000977,0.000000,0.061523,0.000000,0.021484,0.061523,0.010742,0.001953,...,0.105470,0.0,0.026367,0.000000,0.002930,0.0,0.0,0.000000,0.0,0.022461

In [19]:
nmf = NMF(n_components=i,init='random',max_iter=1000,random_state=0)
W = [];
for i in k:
    for V in X:
        Wt = nmf.fit_transform(V1); # 1599 x k 
        W.append(Wt) 
    # find average of all view
    W_avg = (W[0]+W[1]+W[2])/3;
    
    km.fit(W);
    y_preds = km.predict(W);
    acc = accuracy_score(Label,y_preds);
    print(f'Accuracy for {i} is {acc} . ')

Accuracy for 2 is 0.0075046904315197 .
Accuracy for 5 is 0.008130081300813009 .
Accuracy for 6 is 0.004377736085053158 .
Accuracy for 8 is 0.01876172607879925 .
Accuracy for 10 is 0.008755472170106316 .
Accuracy for 14 is 0.004377736085053158 .
Accuracy for 20 is 0.011882426516572859 .
Accuracy for 25 is 0.0150093808630394 .

In [32]:
for i in k:
    W = nmf.fit_transform(V1.T);
    H = nmf.components_ # k x 1599
    km.fit(H.T) # 2x1599
    y_preds = km.predict(H.T);
    acc = accuracy_score(Label,y_preds);
    print(f'Accuracy for {i} is {acc} .')

Accuracy for 2 is 0.0050031269543464665 .
Accuracy for 5 is 0.0068792995622263915 .
Accuracy for 6 is 0.009380863039399626 .
Accuracy for 8 is 0.0050031269543464665 .
Accuracy for 10 is 0.01876172607879925 .
Accuracy for 14 is 0.008130081300813009 .
Accuracy for 20 is 0.008130081300813009 .
Accuracy for 25 is 0.0150093808630394 .
Accuracy for 30 is 0.0025015634771732333 .
Accuracy for 35 is 0.013133208255159476 .
Accuracy for 40 is 0.00375234521575985 .

In [23]:
H=nmf.components_

In [24]:
H.shape

(2, 1599)

In [26]:
H.T.shape

(1599, 2)